.container {
  width: 0 auto;
  height: 0 auto;
  margin-top: 20px;
  border: 1px solid grey;
  background-color: white;
}

#addGif {
  margin-bottom: 20px;
}

button {
  margin-left: 10px;
  margin-bottom: 10px;
}

#addGif {
  margin-left: 10px;
}

#gifs-appear-here {
  margin-left: 10px;
}
